*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}
.margin{
    margin: 0 auto;
}
body{
    height: 100vh;
    width: 100vw;
}
.speaker-view{
    position: absolute;
    right: 5px;
    top: 10px;
    color: white;
    font-size: small;
}
.view{
    background-color: gray;
    border-radius: 13%;
    padding: 5px 7px;
    margin-left: 5px;

}
main{
    height:calc(100vh - 10%);
    background-color: black;
    padding-top: 68px;
}
.main-container{
    max-width: calc(100vw - 11%);
    height: 78.5vh;
}

.video-card{
    width: calc(calc(100vw - 12%) / 7.1);
    margin-bottom: 5px;
    background-image: url(https://picsum.photos/id/29/360/241);
    background-size: cover;
    background-color: aqua;

}

footer{
    height: calc(100vh - 90%);
    background-color: gray;
}